//Microsoft Visual C++에서 생성한 리소스 스크립트입니다.
//
#include "Resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 리소스에서 생성되었습니다.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE 18, 1

/////////////////////////////////////////////////////////////////////////////
//
// 아이콘
//

// 애플리케이션 아이콘이 모든 시스템에서 일관된 상태로 유지되도록
// 가장 낮은 ID 값을 가진 아이콘이 맨 처음 배치됩니다.

IDI_OSGAMECLIENT       ICON         "OSGameClient.ico"
IDI_SMALL               ICON         "small.ico"

/////////////////////////////////////////////////////////////////////////////
//
// 프로퍼티 페이지
//

IDD_PROPERTY_GENERAL DIALOGEX 0, 0, 180, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "일반"
FONT 9, "Segoe UI"
BEGIN
END

IDD_PROPERTY_RENDERING DIALOGEX 0, 0, 180, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "렌더링"
FONT 9, "Segoe UI"
BEGIN
END

IDD_PROPERTY_TILE DIALOGEX 0, 0, 180, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "타일"
FONT 9, "Segoe UI"
BEGIN
END

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "Resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// 문자열 테이블
//

STRINGTABLE
BEGIN
   IDC_OSGAMECLIENT   "OSGAMECLIENT"
   IDS_APP_TITLE       "OSGameClient"
END

#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 리소스에서 생성되었습니다.
//

/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
